.container{
    .vertical-line-container{
        position: relative;
        .vertical-dotted-line{
            width: 5px;
            height: 490px;
            border-left: 2px dotted black;
        }
        .spot{
            position: absolute;
            display: flex;
            top: 420px;
            font-size: 1.8em;
            margin: 0px 0 0 -15px;
            h5{
                font-size: 0.6em;
                margin: 5px 0 0 10px ;
            }
            p{
                font-size: 12px;
                margin: 5px 0 0 10px ;
            }
            svg{
                color: green;
            }
            .date{
                position: absolute;
                left:  67%;
                text-align: right;
                width: 100%;
                h5{
                    color: rgba(2, 119, 2, 0.682);
                }
                h6{
                    color: rgb(146, 144, 144);
                }
                
            }
        }
        .spot2{
            display: flex;
            font-size: 1.8em;
            margin: -145px 0 0 -15px;
            h5{
                font-size: 0.6em;
                margin: 5px 0 0 10px ;
            }
            p{
                font-size: 12px;
                margin: 5px 0 0 10px ;

            }
            svg{
                color: green;
            }
            .date{
                position: absolute;
                left:  45%;
                text-align: right;
                h5{
                    color: rgba(2, 119, 2, 0.682);
                }
                h6{
                    color: rgb(146, 144, 144);
                }
            }
        }
    }
}